@import "compass/css3";
@font-face {
	font-family: 'ecoico';
	src: url('https://github.com/codrops/Blueprint-VerticalTimeline/tree/master/fonts/timelineicons/ecoico.eot');
	src: url('https://github.com/codrops/Blueprint-VerticalTimeline/tree/master/fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'), url('https://github.com/codrops/Blueprint-VerticalTimeline/tree/master/fonts/timelineicons/ecoico.woff') format('woff'), url('https://github.com/codrops/Blueprint-VerticalTimeline/tree/master/fonts/timelineicons/ecoico.ttf') format('truetype'), url('https://github.com/codrops/Blueprint-VerticalTimeline/tree/master/fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Made with https://icomoon.io/ */
body{
	background:#d4d4d4;
}
.conteneurDesAncres {
	display: flex;
	flex-direction: column;
	font-size: large;
}

.cbp_tmlabel:hover {
	opacity: 0, 5;
	background-color: #3594cb;
}

.collapsible {
	background-color: #022060;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: grey;
	opacity: 0.80;
}

.collapsible h1 {
	color: white;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: grey;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 10px;
	color: white;
}

#e_divInputSearch {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 2vw;
	width: 100%;
}

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

/* The line */

.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline>li {
	position: relative;
}

/* The date/time */

.cbp_tmtimeline>li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline>li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline>li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline>li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */

.cbp_tmtimeline>li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #022060;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
	background: #022060;
}

.cbp_tmtimeline>li .cbp_tmlabel h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The triangle */

.cbp_tmtimeline>li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #191e3f;
	/*  #6cbfee; */
}

/* The icons */

.cbp_tmtimeline>li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #191e3f;
	/* #46a4da */
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */

@media screen and (max-width: 65.375em) {
	.cbp_tmtimeline>li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}
	.cbp_tmtimeline>li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}
	.cbp_tmtimeline>li .cbp_tmtime span {
		text-align: left;
	}
	.cbp_tmtimeline>li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}
	.cbp_tmtimeline>li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #191e3f;
		top: -20px;
	}
	.cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #191e3f;
	}
	.cbp_tmtimeline>li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}
#conteneurFrise{
	height:10px;
	position: relative;
}


/* .arrow-up, .arrow-down {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	vertical-align: baseline;
} */


.frise {
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	font-size: 15px;
	position:sticky;
	position: absolute;
}

.button2 {
	background-color: #1c87c9;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius:100%;
	top: -20px;
	border-bottom: 20px solid #3594cb;
	position: relative;
	z-index: 1;
}
