#k_creation_client{
    width: 70vw;
    height: auto;
    margin-left: 20vw;
    margin-right: auto;
    border-radius: 20px;
    padding: 10px;
    /* background: radial-gradient(#022060,#191e3f); */
    background-color: white;
    color: #191e3f;
}
.k_border{
    border: 2px solid #191e3f;
    padding: 10px;
    margin: 10px;
}
.k_button_supprimer{
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.k_button{
    padding: 10px;
    border: none;
    background-color: rgb(61, 152, 255);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
#k_creation_client input{
    background-color: rgb(194, 194, 194);
    border: none;
}
#k_liste_logo{
    background-color: white;
    display: none;
    z-index: 1000;
    top: 30px;
    left: 170px;
    padding: 10px;
    flex-direction: column;
    position: absolute;
    border: 2px solid black;
}