header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 10vw;
    position: fixed;
    z-index: 1000;
    background: radial-gradient(#022060,#191e3f);
    border-right: 2px solid black;
}
#k_logo_header img{
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid white;
}
#k_nav_gauche{
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#k_nav_gauche a{
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
}
#k_nav_gauche a img{
    margin-left: 10px;
}
#k_nav_gauche a span{
    margin-left: 10px;
    font-size: 0.8em;
}