*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#k_infos_client {
  width: 85vw;
  height: auto;
  margin-left: 10vw;
  border-radius: 20px;
  padding: 10px;
}
#k_infos_client_perso {
  display: flex;
  justify-content: space-between;
}
#k_infos_client_perso div span {
  padding: 10px;
}
#k_projet_realises {
  display: flex;
  justify-content: space-around;
}
#k_projet_realises select {
  background-color: rgb(255, 255, 255);
  border: none;
  margin-bottom: 20px;
  width: 300px;
  height: 70px;
  color: black;
}
#k_projet_realises button {
  border-radius: 20px;
  cursor: pointer;
  width: 200px;
  height: 70px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
}
#personnaliteRouge{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: Red;
    float: right;
}
#personnaliteVert{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: green;
  float: right;
}
#personnaliteJaune{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: Yellow;
  float: right;
}

/* ONGLETS PROJETS*/

.containerInfoClient {
	width: 88vw;
	height: 63vh;
	background: #f1f1f1;
	border-radius: 2px;
}

.container-ongletsInfoClient{
  background: #d4d4d4;
  width: 100%;
  height: 40px;
  display: flex;
}
.ongletsInfoClient {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 30px;
}
.ongletsInfoClient:not(:nth-child(3)) {
  border-right: 1px solid #333;
}

.contenuInfoClient {
  height: 70%;
  width: 100%;
  position: absolute;
  opacity: 0;
}
.contenuInfoClient h3 {
  padding: 20px;
}
.contenuInfoClient hr {
  width: 20%;
  height: 2px;
  margin-left: 20px;
  background: #000;
  border: none;
}
.contenuInfoClient p {
  padding: 20px;
}


th, td{
  border: none !important;
}

/* Anim */

.activeInfoClient {
  background: radial-gradient(#022060,#191e3f) !important;
  color: #f1f1f1 !important;
  transition: all 0.3s ease !important;
}

.activeContenuInfoClient {
  animation: fade 0.5s forwards !important;
}
@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* ====== PLANIFIE ====== */

.contenuInfoClient{
  margin-left: 0;
  padding: 0;
  width: 88vw !important;
  text-align: center !important;
  height: 40vh;
}

/* ========== Btns ============*/

#btn_creer_projet{
  height: 40px;
  margin-left: 30vw;
  width: 200px;
  font-size: 1.4rem;
  border-radius: 30px;
}