<!doctype html>
<html lang="fr">
<html>
<head>
    <meta charset="utf-8">
    <title>Vision global d'avancement</title>
    <link rel="stylesheet" href="../assets/css/checkpoint_final.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="e_divInputSearch">
        <label for="site-search">Recherche de projet :</label>
        <input type="search" id="site-search" name="q" aria-label="Search through site content">
        <button>Recherche</button>
    </div>
    <div id="conteneurFrise">
        <div class="arrow-up" style="left: 20%;">
            <a href="#ancre2" class="button2">Check 2</a>
        </div>
        <div class="arrow-up" style="left: 60%;">
            <a href="#ancre5" class="button2">Check 5</a>
        </div>
        <div class="arrow-up" style="left: 40%;">
            <a href="#ancre8" class="button2">Check 8</a>
        </div>
        <div class="arrow-up" style="left: 80%;">
            <a href="#ancre11" class="button2">Check 11</a>
        </div>
        <div class="arrow-up" style="left: 80%;">
            <a href="#ancre14" class="button2">Check 14</a>
        </div>
        <div class="arrow-up" style="left: 80%;">
            <a href="#ancre17" class="button2">Check 17</a>

        </div>
    </div>
    <ul class="cbp_tmtimeline">
        <li>
            <div class="cbp_tmicon cbp_tmicon-phone"></div>
            <div id="ancre1"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Création de client </h1>
                    <h2>Christelle</h2>
                </button>
                <div class="content">
                    <p>Lorem Ipsum is simply dummy text :
                        of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-screen"></div>
            <div id="ancre2"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Création projet</h1>
                    <h2> Christelle</h2>
                </button>
                <div class="content">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-mail"></div>
            <div id="ancre3"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Rendez-vous</h1>
                    <h2>Christelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-phone"></div>
            <div id="ancre4"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Visite chantier</h1>
                    <h2>Loic/Dominique</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre5"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Consultations fournisseurs</h1>
                    <h2>Loic/Dominique/Emmanuelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre6"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Réalisations de devis</h1>
                    <h2>Loic/Dominique</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre7"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Validation de devis</h1>
                    <h2>Loic/Dominique</h2>
                </button>
                <div class="content">
                    <p>
                        <img src="../assets/images/devis.webp" alt="image de devis random">
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre8"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Envois à Christelle</h1>
                    <h2>Dominique</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre9"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Envoi de devis client</h1>
                    <h2>Loic/Dominique</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre10"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Appeler le client pour confirmer la réception du devis</h1>
                    <h2>Christelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre11"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Offre finale</h1>
                    <h2>Christelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre12"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Demandes préalables de travaux</h1>
                    <h2>Christelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre13"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Réception de demandes</h1>
                    <h2>Emmanuelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre14"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Commande matériaux pour chantier</h1>
                    <h2>Emmanuelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre15"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Date prévue de fin de chantier</h1>
                    <h2>Emmanuelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like)./p>
                </div>
            </div>
        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre16"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Bon de commande</h1>
                    <h2>Emmanuelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>

        </li>
        <li>
            <div class="cbp_tmicon cbp_tmicon-earth"></div>
            <div id="ancre17"></div>
            <div class="cbp_tmlabel">
                <button type="button" class="collapsible">
                    <h1>Clôture de dossier</h1>
                    <h2>Virginie/Christelle</h2>
                </button>
                <div class="content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="arrow-up" style="left: 20%;">
        <a href="#ancre1" class="button2">Revenir en haut de page</a>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>
