<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="../assets/css/checkpoint.css">
    <link rel="stylesheet" href="../assets/css/principale.css">
    <script src="script.js"></script>
</head>

<body>
    <div id="e_conteneur_check">
        <div id="e_view_checkpoint">
            <div id="e_check1">
                <div id="box1">
                    <div class="e_lesChecks">
                        <a href="./check_rdv.php"><span><strong>Visites chantiers</strong></span></a>
                    </div>
                    <div id="e_visite_chantier">
                        <ul>
                            <li id="montauban">Montauban et fils : 4</li>
                            <li id="gauthier">Gauthier Montauban : 3</li>
                            <li id="facade">Façade Sud Charente : 2</li>
                            <li id="funeraire">Funéraire Sud Charente : 1</li>
                        </ul>
                    </div>
                </div>
                <div id="box2">
                    <div id="#e_consultations_fournisseurs">
                        <div class="e_lesChecks">
                            <a href="./en_construction.php"><span><strong>Consultations fournisseurs</strong></span></a>
                        </div>
                        <div id="nbr_consultations_fournisseurs">
                            <ul>
                                <li id="montauban">Montauban et fils : 4</li>
                                <li id="gauthier">Gauthier Montauban : 3</li>
                                <li id="facade">Façade Sud Charente : 2</li>
                                <li id="funeraire">Funéraire Sud Charente : 1</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="e_check2">
                <div id="box3">
                    <div class="e_lesChecks">
                        <a href="./en_construction.php"><span><strong>Réalisation de devis</strong></span></a>
                    </div>
                    <div id="e_nbrReceptionDevis">
                        <ul>
                            <li id="montauban">Montauban et fils : 4</li>
                            <li id="gauthier">Gauthier Montauban : 3</li>
                            <li id="facade">Façade Sud Charente : 2</li>
                            <li id="funeraire">Funéraire Sud Charente : 1</li>
                        </ul>

                    </div>
                </div>
                <div id="box4">
                    <div id="e_validation_devis">
                        <div class="e_lesChecks">
                            <a href="./en_construction.php"><span><strong>Validation de devis</strong></span></a>
                        </div>
                        <div id="e_nbr_validation_devis">
                            <ul>
                                <li id="montauban">Montauban et fils : 4</li>
                                <li id="gauthier">Gauthier Montauban : 3</li>
                                <li id="facade">Façade Sud Charente : 2</li>
                                <li id="funeraire">Funéraire Sud Charente : 1</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="e_check3_Domi">
                    <div id="box5">
                        <div id="e_envois_a_christelle"></div>
                        <div class="e_lesChecks">
                            <a href="./en_construction.php"><span><strong>Envois à Christelle</strong></span></a>
                        </div>
                        <div id="e_nbr_envois_a_christelle">
                            <ul>
                                <li id="montauban">Montauban et fils : 4</li>
                                <li id="gauthier">Gauthier Montauban : 3</li>
                                <li id="facade">Façade Sud Charente : 2</li>
                                <li id="funeraire">Funéraire Sud Charente : 1</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>