<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="../assets/css/checkpoint.css">
    <link rel="stylesheet" href="../assets/css/principale.css">
    <script src="script.js"></script>
</head>

<body>
    <div id="e_conteneur_check">
        <div id="e_view_checkpoint">
            <div id="e_clotureDossier_Virginie">
                <div id="box1">
                    <div class="e_lesChecks">
                        <a href="./check_rdv.php"><span><strong>Clôtures de dossier</strong></span></a>
                    </div>
                    <div id="e_nbr_clotureDossier_Virginie">
                        <ul>
                            <li id="montauban">Montauban et fils : 4</li>
                            <li id="gauthier">Gauthier Montauban : 3</li>
                            <li id="facade">Façade Sud Charente : 2</li>
                            <li id="funeraire">Funéraire Sud Charente : 1</li>
                        </ul>
                    </div>
                </div>
            </div>
</body>

</html>