<div class="container">
    <div class="row">

        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Checks</th>
                    <th scope="col">ID Projet</th>
                    <th scope="col">Date</th>
                    <th scope="col">Client</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>RDV</td>
                    <td>0001</td>
                    <td>01/01/2021</td>
                    <td>0001</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>RDV</td>
                    <td>0002</td>
                    <td>01/01/2021</td>
                    <td>0002</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>RDV</td>
                    <td>0003</td>
                    <td>01/01/2021</td>
                    <td>0003</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>