<header>
    <div id="k_logo_header" style="width: 10vw;">
        <a href="#"><img src="./assets/images/logo_montauban.png" alt="logo de montauban"
                style="width: 110px; height: 60px; margin-left: 10px;"></a>
    </div>
    <div id="k_nav_gauche" style="width: 100%; height: 85vh;">
        <div style="display: flex; flex-direction: column; align-items: start; width: 100%;">
            <a href="#"><img src="./assets/icones/homepage.png" style="width: 30px; height: 30px;"><span>Accueil</span></a>
            <a href="liste_client.php"><img src="./assets/icones/liste_client.png"
                    style="width: 30px; height: 30px;"><span>Client</span></a>
            <a href="liste_projet.php"><img src="./assets/icones/devis.png" style="width: 30px; height: 30px;"><span>Projet</span></a>
            <a href="checkpoint_christelle.php"><img src="./assets/icones/checkpoint.png" style="width: 30px; height: 30px;"><span>Checkpoint</span></a>
            <a href="contact_client.php"><img src="./assets/icones/contact_client.png"
                    style="width: 30px; height: 30px;"><span>Contact Client</span></a>
            <a href="index.php"><img src="./assets/icones/agenda.png"
                    style="width: 30px; height: 30px;"><span>Agenda</span></a>
            <a href="broadcast.php"><img src="./assets/icones/post-it.png" style="width: 30px; height: 30px;"><span>Centre Notif</span></a>
        </div>
        <div style="text-align: center;">
            <span id="heure_exacte" style="color: white;"></span>
            <a href="logout.php"><img src="./assets/icones/logout.png" style="width: 30px; height: 30px;"><span>Déconnexion</span></a>
        </div>
    </div>
</header>