<div id="k_list_client">
    <div style="margin-left: auto; margin-right: auto; width: 80vw; padding: 20px;">
        <div id="k_addons_client">
            <div><input type="search" id="recherche_client" name="recherche_client" placeholder="Recherche ..."><label
                    for="recherche_client"><button><a href="./projet_cible.php">&#128269</a></button></label></div>
            <a href="creation_client.php"><button type="button">Nouveau Client</button></a>
        </div>
        <div class="containerlistClient">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Client</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Telephone</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row1">1</th>
                        <td>2021001</td>
                        <td>ZOZOR</td>
                        <td>Garfield</td>
                        <td>garfieldzozor@unmail.com</td>
                        <td>06 06 06 06 06</td>
                        <td><a href="infos_client.php"><img src="./assets/images/avatar.png" alt=""
                                    class="img-fluid imglisteClient"></a></td>
                    </tr>
                    <tr>
                        <th scope="row2">2</th>
                        <td>2021001</td>
                        <td>ZOZOR</td>
                        <td>Garfield</td>
                        <td>garfieldzozor@unmail.com</td>
                        <td>06 06 06 06 06</td>
                        <td><a href="infos_client.php"><img src="./assets/images/avatar.png" alt=""
                            class="img-fluid imglisteClient"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>