<div style="display: flex; justify-content: space-between; margin-left: 10vw;">
<div id="k_liste_projet">
  <div class="k_container_liste_projet" id="k_montauban_fils">
    <div class="k_titre_table_liste_projet" style="background-color: rgb(155, 18, 18);">
      <div>
        <label for="site-search"></label>
        <input type="search" id="site-search" name="q" aria-label="Search through site content" />
        <button><a href="./projet_cible.php">&#128269</a></button>
      </div>
      <div>
        <h2>Montauban & Fils</h2> <!-- Montauban & Fils -->
      </div>
      <div>
        <select>
          <option>Tous</option>
          <option>En attente</option>
          <option>A plannifier</option>
          <option>Plannifier</option>
          <option>Réalisés</option>
        </select>
      </div>
    </div>
    <div class="k_tableau_projet" style="scrollbar-color:  white rgb(155, 18, 18);">
      <div class="k_titre_liste_projet">
        <span>Date</span>
        <span>Sujet</span>
        <span>Autres</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div><div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div><div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
    </div>
  </div>
  <div class="k_container_liste_projet" id="k_facade_sud_charente" style="display: none;">
    <div class="k_titre_table_liste_projet" style="background-color: rgb(128, 128, 13);">
      <div>
        <label for="site-search"></label>
        <input type="search" id="site-search" name="q" aria-label="Search through site content" />
        <button>&#128269</button>
      </div>
      <div>
        <h2>Facade Sud Charente</h2> <!-- Facade Sud Charente -->
      </div>
      <div>
        <select>
          <option>Tous</option>
          <option>En attente</option>
          <option>A plannifier</option>
          <option>Plannifier</option>
          <option>Réalisés</option>
        </select>
      </div>
    </div>
    <div class="k_tableau_projet" style="scrollbar-color:  white rgb(128, 128, 13);">
      <div class="k_titre_liste_projet">
        <span>Date</span>
        <span>Sujet</span>
        <span>Autres</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div><div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div><div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
    </div>
  </div>
  <div class="k_container_liste_projet" id="k_gauthier" style="display: none;">
    <div class="k_titre_table_liste_projet" style="background-color: rgb(82, 82, 82);">
      <div>
        <label for="site-search"></label>
        <input type="search" id="site-search" name="q" aria-label="Search through site content" />
        <button>&#128269</button>
      </div>
      <div>
        <h2>Gauthier</h2>   <!-- Gauthier -->
      </div>
      <div>
        <select>
          <option>Tous</option>
          <option>En attente</option>
          <option>A plannifier</option>
          <option>Plannifier</option>
          <option>Réalisés</option>
        </select>
      </div>
    </div>
    <div class="k_tableau_projet" style="scrollbar-color:  white rgb(82, 82, 82);">
      <div class="k_titre_liste_projet">
        <span>Date</span>
        <span>Sujet</span>
        <span>Autres</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div><div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div><div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
    </div>
  </div>
  <div class="k_container_liste_projet" id="k_funeraire" style="display: none;">
    <div class="k_titre_table_liste_projet" style="background-color: rgb(116, 33, 116);">
      <div>
        <label for="site-search"></label>
        <input type="search" id="site-search" name="q" aria-label="Search through site content" />
        <button>&#128269</button>
      </div>
      <div>
        <h2>Funéraire</h2>   <!-- Funéraire Sud Charente -->
      </div>
      <div>
        <select>
          <option>Tous</option>
          <option>En attente</option>
          <option>A plannifier</option>
          <option>Plannifier</option>
          <option>Réalisés</option>
        </select>
      </div>
    </div>
    <div class="k_tableau_projet" style="scrollbar-color:  white rgb(116, 33, 116);">
      <div class="k_titre_liste_projet">
        <span>Date</span>
        <span>Sujet</span>
        <span>Autres</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div><div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div><div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
      <div class="k_donnee_liste_projet">
        <span>18/02/2021</span>
        <span>Création piscine avec terasse</span>
        <span>Dur pour personnel</span>
      </div>
    </div>
  </div>
</div>
<div class="k_liste_entreprise">
  <span onclick="afficherEntrepriseUn()">Montauban & Fils</span>
  <span onclick="afficherEntrepriseDeux()">Facade Sud Charente</span>
  <span onclick="afficherEntrepriseTrois()">Gauthier</span>
  <span onclick="afficherEntrepriseQuatre()">Funéraire</span>
</div>
</div>